p#DriveTrain.section-label {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: cursive; */
    /* font-family: fantasy; */
    /* font-family: monospace; */
    /* font-family: sans-serif; */
    /* font-family: serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 300%;
  }
  input#Mechanism.text-input {
    font-size: 100%;
    /* font-family: cursive; */
    width: 200px;
  }
 
  select#SizeOfPart.form-control {
    width: 250px;
  }
 
  strong {
    font-size: 300%;
  }
  
 input#WDYN.text-input {
    width: 390px;
  }
 
  h4 {
    font-size: large;
  }
 
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 5px;
  }
 
  .active,
  .btn:hover {
    background-color: #666;
    color: white;
  }
 
  .a {
    color: fuchsia;
  }

  input#NumberOfParts.text-input {
    width: 390px;
  }
 
  input#Mechanism.text-input {
    width: 390px;
  }
 
  input#LengthInInches.text-input {
    width: 390px;
  }
 
  input#PartNumber.text-input {
    width: 390px;
  }
 
  input#WDYN.text-input {
    width: 390px;
  }
  
 @keyframes animatezoom {
    from {
      transform: scale(0)
    }
 
    to {
      transform: scale(1)
    }
  }
 
  .light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
  }
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
  html,
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    background-color: var(--bg-body);
  }
 
  .calendar {
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
 
  .light .calendar {
    box-shadow: var(--shadow);
  }
 
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
  }
 
  .calendar-body {
    padding: 10px;
  }
 
  .calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
  }
 
  .calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
  }
 
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
  }
 
  .calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
 
  .calendar-days div span {
    position: absolute;
  }
 
  .calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
 
  .calendar-days div span:nth-child(1),
  .calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
  }
 
  .calendar-days div:hover span:nth-child(1),
  .calendar-days div:hover span:nth-child(3) {
    height: 100%;
  }
 
  .calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
  }
 
  .calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
  }
 
  .calendar-days div span:nth-child(2),
  .calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
  }
 
  .calendar-days div:hover span:nth-child(2),
  .calendar-days div:hover span:nth-child(4) {
    width: 100%;
  }
 
  .calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
  }
 
  .calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
  }
 
  .calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
  }
 
  .calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
  }
 
  .calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
  }
 
  .calendar-days div.curr-date,
  .calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
  }
 
  .calendar-days div.curr-date span {
    display: none;
  }
 
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
 
  .month-picker:hover {
    background-color: var(--color-hover);
  }
 
  .year-picker {
    display: flex;
    align-items: center;
  }
 
  .year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
  }
 
  .year-change:hover {
    background-color: var(--color-hover);
  }
 
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
 
  .toggle {
    display: flex;
  }
 
  .toggle span {
    margin-right: 10px;
    color: var(--color-txt);
  }
 
  .month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
  }
 
  .month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
  }
 
  .month-list>div {
    display: grid;
    place-items: center;
  }
 
  .month-list>div>div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
  }
 
  .month-list>div>div:hover {
    background-color: var(--color-hover);
  }
  
  .close:hover,
 .close:focus {
   color: red;
   cursor: pointer;
 }

 /* Add Zoom Animation */
 .animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
 }

 @-webkit-keyframes animatezoom {
   from {
     -webkit-transform: scale(0)
   }

   to {
     -webkit-transform: scale(1)
   }
 }