.header-social {
    float: left;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: top left;
    background: #eee;
  }
  
  li {
    display: inline-block;
    padding: 10px;
  }